@font-face {
  font-family: poppins;
  font-weight: 300;
  src: url("../public/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 400;
  src: url("../public/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: bold;
  src: url("../public/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: iransans;
  font-weight: 300;
  src: url("../public/fonts/poppins/IRANSans_Light.ttf");
}
@font-face {
  font-family: iransans;
  font-weight: 400;
  src: url("../public/fonts/poppins/IRANSans_Medium.ttf");
}
@font-face {
  font-family: iransans;
  font-weight: bold;
  src: url("../public/fonts/poppins/IRANSans_Bold.ttf");
}
